@using reCAPTCHA.MVC
@model DeveloperUniversity.Models.ViewModels.MailViewModel

@{
    ViewBag.Title = "Contact";
}

<div class="col-md-10 col-md-offset-4">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Contact", "Home", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@id = "contact-form", role = "form"}))
    {
        @Html.ValidationSummary()
        <fieldset>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new {@placeholder = "Name", @type = "text", @class = "form-control"})
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new {@placeholder = "Email Address", @type = "email", @class = "form-control"})
            </div>
            <div class="form-group">
                @Html.TextAreaFor(m => m.Messge, new {@placeholder = "Message", @class = "form-control"})
            </div>
            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")
            <div class="button-wrapper">
                <input type="submit" value="Send" name="submit" class="btn btn-success">
                <input type="reset" value="Reset" name="MFReset" class="btn btn-default">
            </div>
        </fieldset>
    }
</div>